---
import { BASE_URL } from '../assets/data/webdetails';
---

<div>
    <h1>Sitemap</h1>
    <ul>
        <li><a href={`${BASE_URL}`}>Landing Page</a></li>
        <li><a href={`${BASE_URL}about`}>About Page</a></li>
    </ul>
</div>